# Modbus TCP
MODBUS_ADDR=192.168.200.1:6607
MODBUS_TIMEOUT_SECONDS=5
MODBUS_RECONNECT_WAIT_SECONDS=2

# InfluxDB
INFLUX_URL=http://192.168.1.5:8086
INFLUX_DB=solar
INFLUX_DEVICE_TAG=SUN2000
INFLUX_MEASUREMENT=huawei_solar

# App
APP_POLL_INTERVAL_SECONDS=10